#new-notebook-container {
    width: 450px;
    height: 290px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    /* border: 1px solid #00a82d; */
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 15px 0px;
}

#new-notebook-heading {
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 20px;
}

#new-notebook-subheading {
    color: #737373;
    font-size: 14px;
    padding-top: 20px;
    padding-left: 20px;
}

#name-new-notebook {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-top: 20px;
    padding-left: 20px;
}

.name-input {
    height: 20px;
    border-radius: 4px;
    width: 400px;
    font-size: 16px;
    border: 1px solid #0081c2;
    margin-bottom: 20px;
}

#input-label {
    padding-top: 20px;
    padding-left: 20px;
}

#create-notebook-btn {
    width: 80px;
    height:35px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;

}

#new-notebook-form {
    border-bottom: 1px solid #737373;
}

#edit-notebook-submit {
    width: 85px;
    height:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right:20px;
    border-radius: 4px;
}

#cancel-button {
    width: 85px;
    height:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right:20px;
    border-radius: 4px;
}

.err-handling {
    display: flex;
    flex-direction: column;
    color: #cc4539;
    padding-left: 20px;
}

#add-btn {
    padding-right: 5px;
    padding-top: 3.5px;
}

#new-notebook {
    margin-bottom: 10px;
}

.edit-and-delete-button {
    display:flex;
    justify-content: flex-end;
}

.create-notebook-container {
    display: flex;
    justify-content: flex-end;
    margin-right:20px;
}
