.err-page-container {
    display:flex;
    justify-content: center;
    flex-direction: row;
}

#fourohfour {
    padding-left: 45px;
}

.not-found-text {
    font-size: 30px;
}

.error-pic {
    height:628px;
    object-fit: cover;
}
