.main-all-notes-container {
    width:60%;
    height: 400px;
    display:flex;
    flex-direction: column;
    margin-top:20px;
    border:1px solid lightgray;
    border-radius: 7px;
    max-width:800px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.main-all-notes-container::-webkit-scrollbar {
    display: none;
}

.main-notes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:200px;
    height:250px;
    padding-left:20px;
    padding-top: 20px;
    padding-bottom:10px;
    text-align: start;
    border:1px solid lightgray;
    border-radius: 7px;
    margin-right:10px
}

/* .main-notes-container:hover {
    border:1px solid rgb(42, 99, 221);
    cursor:pointer
} */

.containers-spacing {
    display: flex;
}

.only-containers {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 50px;
    margin-left: 10px;
}

.notes-title {
    margin-top:10px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.notes-title:hover {
    background-color: #f2f2f2;
    width:140px;
}

#greater-than {
    padding-left:10px;
    color:#00a82d;

}

#recent-notes-btn, recent-notes-btn:visited {
    text-decoration: none;
    color:black;
}

.full-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.scratch-pad {
    margin-left: 50px;
    margin-top: 20px;
    width:500px;
    border-radius: 7px;
    background-color:#fff4ba;
    display:flex;
    flex-direction: column;
    padding-left:20px;
    padding-top: 10px;
    padding-bottom:10px;
    font-size:20px;
    height:382px;
}

#scratch-text {
    margin-top:20px;
    margin-right: 25px;
    color:#737373;
    background-color: #fff4ba;
    border: none;
    resize: none;
    outline: none;
}

#background {
    /* background-image: url('../../assets/wallpaper.jpg'); */
    display:flex;
    flex-direction: column;
    width:100%;
    height:200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #00a82d;
    margin-top:10px;
}

.note-container-description {
    overflow-wrap: break-word;
}

/* .scratch-title {
    display:flex;
    justify-content: space-between;
    margin-right:10px;
} */
