#notebooks-bigger-container {
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.notebooks-page-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:1000px;
    height:602px;
    padding-top:30px;
}

#notebooks-title {
    color: #333333;
    font-size: 20px;
    padding-bottom: 20px;
    display:flex;
    justify-content: space-between;
}

.notebooks-header {
    display: flex;
    flex-direction: column;
    width:1000px;
}

#number-notebooks {
    display:flex;
    width:1000px;
    justify-content: space-between;
    border-bottom:2px solid #5b6b70;
    padding-bottom:7px;
    font-size:13px;
}

#new-notebook {
    display:flex;
    justify-content: flex-end;
    color:#00a82d;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;

}

#new-notebook:hover {
    color:#007620;
}

#add-btn {
    margin-bottom: 2px;
}

.notebooks {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.notebooks::-webkit-scrollbar  {
    display:none;
}

.one-notebook {
    display:flex;
    justify-content: space-between;
}

.one-notebook:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

#notebook-name {
    width: 250px;
}

#created-by-username{
    padding-right: 100px;
}

#triple-dot {
    padding-right: 5px;
}

#notebooks-icons {
    color:#a6a6a6;
    padding-right: 5px;
}

.add-notebook-number-notebooks {
    display:flex;
    justify-content: space-between;
}

.created-by {
    padding-left:150px;
}

/* #edit-button {
    height:30px;
    width:200px;
    background-color:#00a82d;
    color:#ffffff;
    border-radius: 7px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.delete-button {
    height:30px;
    width:200px;
    background-color:#00a82d;
    color:#ffffff;
    border-radius: 7px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
} */
