#nav-bar {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
     /* padding:0px;
    margin:0px; */
}
.title-logo {
    color:#00a82d;
    font-size: 30px;
    margin-left:20px;
}

.title-logo:hover {
    color:#a6a6a6;
}

.nav-bar-right-section {
    display: flex;
    align-items: flex-end;
    margin-right: 50px;
}

#nav-btns {
    color:#a6a6a6;
    margin-right: 25px;
}

#nav-btns:hover {
    color:white;
}
